/* Mengatur font family, margin, dan padding pada elemen body. */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Mengatur teks pada elemen h1 menjadi rata tengah. */
h1 {
  text-align: center;
}

/* Mengatur tampilan form agar rapi dan menempatkan elemen ke tengah halaman. */
form {
  display: flex;
  margin: 20px auto;
  max-width: 600px;
}

/* Mengatur tampilan input text, menambahkan padding, menghilangkan border, dan menambahkan border bawah dengan warna abu-abu (#ccc). */
input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}

/* Mengatur tampilan tombol dengan menambahkan padding, warna latar belakang biru (#007bff), warna teks putih (#fff), dan membuat pointer mouse menjadi tangan saat diarahkan ke tombol. */
button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Mengatur tampilan kontainer hasil URL pendek dengan menambahkan margin, lebar maksimum, padding, border, dan radius border. */
#short-url-container {
  margin: 20px auto;
  max-width: 600px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* Mengatur tampilan teks pada kontainer hasil URL pendek menjadi ukuran 16px.  */
#short-url-container p {
  font-size: 16px;
}
